<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testing.org/testing-1.0.dtd">

<suite name="unit tests" configfailurepolicy="continue" parallel="classes" thread-count="1">
    <test name="unit test">
    <groups>
        <run>
            <includ name="mult test"/>
        </run>
    </groups>
        <classes>
            <class name="unit_tests.GroupTest"></class>
            <class name="unit_tests.FirstTest"></class>
            <class name="unit_tests.PriorityTest"></class>
        </classes>
    </test>
</suite>